/* ==========================================================================
   Attribution
   ========================================================================== */

.attribution {
  color: darkgrey;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: whitesmoke;
}

/* ==========================================================================
   Main Challenge Styles
   ========================================================================== */

/* Mobile Styles
   ========================================================================== */

/* Global Selectors */

html {
  font-size: .9375em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 126.6em;
  background: hsl(233, 47%, 7%);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h2 {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 250;
  line-height: 1.5;
  text-align: center;
}

/* Main Content */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86.94%;
  max-width: 31.2em;
  margin-top: 5.87em;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  background: hsl(244, 38%, 16%);
}

.header {
  height: 64vw;
  width: 100%;
  max-height: 22.8em;
  background: url("../images/image-header-mobile.jpg") top left / 100% no-repeat;
  opacity: .45;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 81.9%;
  margin: 2.8em 0;
}

article h1 {
  margin-bottom: .71em;
  font-size: 1.7rem;
}

article h1 span {
  color: hsl(277, 64%, 61%);
}

aside {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: .33em;
}

aside div {
  width: 75%;
  margin-bottom: 2em;
}

aside h1 {
  margin-bottom: .49em;
}

/* Tablets & Mid-size device styles
   ========================================================================== */

@media screen and (min-width: 768px) {

  /* Main Content */

  .wrapper {
    width: 90%;
    max-width: 90%;
    margin-top: 22vh;
  }

  main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    order: 1;
    width: 51.4%;
  }

  article {
    margin: .8em 0 3.5em;
  }

  article h1 {
    margin-bottom: 1.5em;
  }

  aside {
    justify-content: space-between;
    margin: 0;
  }

  aside div {
    width: calc(100%/3);
  }

  .header {
    order: 2;
    padding: calc(22.8em / 2) 0;
    width: 48.6%;
    height: 100%;
    background: hsl(244, 38%, 16%) url("../images/image-header-desktop.jpg") top / cover no-repeat;
  }
}


/* Desktop styles
   ========================================================================== */

@media screen and (min-width: 1440px) {

  /* Global selectors */

  h1,
  h2,
  p {
    text-align: left;
  }

  /* Main Content */

  .wrapper {
    width: 77.01%;
  }

  .info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  article {
    width: 68.1%;
    margin: 3.75em 0;
  }

  article h1 {
    font-size: 2.25rem;
  }

  aside {
    width: 68.1%;
    margin-bottom: 3.5em;
  }

  aside div {
    width: auto;
    margin: 0;
  }

  .header {
    padding: calc(29.67em / 2) 0;
  }
}